:root {
    --headfootheight: 5vh;
}

* {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    width: 100%;
}

header *, footer * {
    display: flex;
    align-items: center;

    margin: 0 auto;
    min-height: var(--headfootheight);
    background: salmon;
}

main {
    display: flex;
    min-height: calc(100vh - 2*var(--headfootheight));
}

.new {
    width: 50vw;
    height: 50vh;

    margin: auto auto;

    align-content: center;
}

.new * {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 50vmin;
}